<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item font-monospace"><span class="fs-4 px-5">LucaLabsTEST</span></li>
    </ul>
  </div>
</nav>